body{
   background-color: rgb(208, 233, 235);
    padding-left: 1in ;
}
th {
    background-color:rgb(235, 252, 235) ;
    border:none;
}
.dates{
    text-align: center;
    background-color: antiquewhite;
}
.dates:hover{
    background-color: antiquewhite ;
    border-color: rgb(43, 3, 3);
}
td,tr{
    background-color: rgb(250, 247, 216);
    border: 1px;
    border-color: black;
    height: 1in;
    width: 0.8in;
    border-radius: 10px;
    }

td:hover{
    background-color:  rgb(208, 233, 235);
    border-radius:0px ;
}
 .column {
  float: left;
  width: 50%;
}

h1{
    text-align: center;
    text-decoration-color: rgb(103, 103, 126);
    font-family:cursive;
    text-decoration: underline overline;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
table{
   
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ddd;
    border-collapse:separate ;
    overflow: hidden;

}
.add{
    font-size: medium;
    font-style: italic;
    text-align: justify;
    padding-left: 1in;
    color: rgba(14, 56, 90, 0.5);
    font-size: large;
    background-color: rgb(235, 252, 235);
}
.add:hover{
    background-color: white;
}
select{
    font-size: large;
    background-color:rgb(208, 233, 235);
    border-radius: 5px;
    border: none;
}